
/** === Layout === */

@import '../mixins/utilities';

#page {
	width: 100%;
}

.wrapper2{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
	padding: 10px;
}

.site-content {
	overflow: hidden;

	.content-area{
		.site-main{
			.wrapper {
				display: grid;
				grid-gap: 10px;
				grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) ) ;
				padding-top: 10px;
			} 
			.box {
				border-radius: 5px;
				border: 5px inset rgb(116, 184, 240);
				padding: 20px;
				font-size: 50%;
				text-align: center;

				a{
					color: #28128a;
				}

				.entry-title{
					&::before{
						content: none;
					}
				}
			}
			@include media(mobile){
				.wrapper {
					display: grid;
					grid-gap: 10px;
					grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) ) ;
					padding-top: 10px;
				}
				  
				.box {
					border-radius: 5px;
					padding: 20px;
					font-size: 50%;
					text-align: center;

					.entry-title{
						&::before{
							content: none;
						}
					}
				}
			}
			@include media(tablet){
				.wrapper {
					display: grid;
					grid-gap: 10px;
					grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
					padding-top: 10px;
				}
				  
				.box {
					border-radius: 5px;
					padding: 20px;
					font-size: 50%;
					text-align: center;

					.entry-title{
						&::before{
							content: none;
						}
					}
				}
			}
			@include media(desktop){
				.wrapper {
					display: grid;
					grid-gap: 10px;
					grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
					padding-top: 10px;
				}
				  
				.box {
					border-radius: 5px;
					padding: 20px;
					font-size: 50%;
					text-align: center;

					.entry-title{
						&::before{
							content: none;
						}
					}
				}
			}
		}
	}
}

